.city-select-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 10px;
  background-color: rgb(63, 61, 61);
  justify-content: center;
  pointer-events: none; /* 배경 클릭 통과 */
  overflow-y: auto;
  /* 스크롤바 숨기기 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.city-select-overlay > * {
  pointer-events: auto; /* CitySelect만 클릭 가능 */
}
