.city-select-overlay {
  position: fixed;
  background-color: green;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 10px;
  justify-content: center;
  overflow-y: auto;
  overflow-x: auto;
  /* 스크롤바 숨기기 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge: 스크롤바 숨김 */
  scroll-behavior: smooth; /* 부드러운 스크롤 */
  -webkit-overflow-scrolling: touch; /* iOS 부드러운 스크롤 */
  overscroll-behavior-x: contain; /* 스크롤 바뀌지 않게 */
}

.city-select-overlay > * {
  pointer-events: auto; /* CitySelect만 클릭 가능 */
}
