.detail-info {
  position: relative;
  z-index: 11;
  width: 100%;
  max-width: 400px;

  /* 나머지 기존 스타일 유지 */
  width: 100%;
  max-width: 400px;
  padding: 1em;
  background-color: #444;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  animation: slideUp 1s ease-out forwards;
}

.exiting {
  animation: slideDown 1s ease-in forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
