.forecast-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  overflow-x: auto; /* 가로 스크롤 활성화 */
  scrollbar-width: none; /* Firefox: 스크롤바 숨김 */
  -ms-overflow-style: none; /* IE/Edge: 스크롤바 숨김 */
  scroll-behavior: smooth; /* 부드러운 스크롤 */
  -webkit-overflow-scrolling: touch; /* iOS 부드러운 스크롤 */
}
/* Chrome, Safari, Opera: 스크롤바 숨김 */
.forecast-info::-webkit-scrollbar {
  display: none;
}

.forecast-info-item {
  display: flex;
  flex-direction: column;
  gap: 1px;
  flex-shrink: 0;
  align-items: center;
  text-align: center;
  min-width: 100px;
}
