#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1em;
}
.title {
  font-size: 2em;
  font-weight: bold;
}
.city-name {
  font-size: 2em;
  font-weight: bold;
}
.temperature {
  font-size: 4em;
  font-weight: bold;
}
.weather-description {
  font-size: 1.5em;
  font-weight: bold;
}
.feels-like {
  font-size: 1.5em;
  font-weight: bold;
}

.detail-info-overlay {
  position: fixed;
  left: 10%;
  right: 10%;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  pointer-events: none; /* 배경 클릭 통과 */
}

.detail-info-overlay > * {
  pointer-events: auto; /* DetailInfo만 클릭 가능 */
}

.card {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
