#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}
.title {
  font-size: 2em;
  font-weight: bold;
}

.card {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
